.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* header */
header {
    display: flex;
    padding: 36px 150px;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    column-gap: 36px;
}

.header_button {
    background-color: #524A44;
    border-radius: 32px;
    color: #fff;
    Width: 100px;
    Height: 48px;
    font-size: 16px;

}

nav {}

.li_a {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.44023728370666504px;

}

.brand_a {
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.44023728370666504px;


}

.burger_menu {
    display: none;
}

/* section1 */
.section_1 {
    background-image: url(../image/cover-1440.png);
    height: 520px;
    background-repeat: no-repeat;
    /* padding: 186px 264px; */
    object-fit: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1_div {
    text-align: center;
}

.section1_p {
    font-family: Inter;
    font-size: 56px;
    font-weight: 900;
    line-height: 60px;
    color: #000;
    text-shadow: 3px 3px 4px #fff;

}

.section1_button {
    Width: 100px;
    Height: 48px;
    background-color: #000;
    font-family: Inter;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: -0.44023728370666504px;
    color: #fff;
    border-radius: 32px;
    box-shadow: 0 4px 4px #fff;
    margin-top: 40px;
}

/* section2 */
.section_2 {
    padding: 60px 0;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 160px;
}

.section2_img {
    height: 400px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
}

.section2_h2 {
    color: #fff;
    margin-bottom: 20px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.10000000149011612px;


}

.section2_p {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;


}

.section2_img,
.section2_text {
    width: 490px;

}

/* section3 */
.secction_3 {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    padding: 80px 150px;
}

.section3_art {
    background-color: #E3DAD8;

}

.article_div {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 16px;
}

.section3_p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;


}

.section3_h3 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;


}

/* footer */
footer {
    padding: 96px 150px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
}

.footer_art {
    display: flex;
    column-gap: 80px;
}

.footer_h2 {
    color: #fff;
    font-family: Inter;
    font-size: 24.65px;
    font-weight: 900;
    line-height: 26.41px;
    letter-spacing: -0.44023728370666504px;


}

h4 {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;


}



.footer_art {
    display: flex;
}

.footer_a {
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}

.footer_div {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}